 body{
background-image: url(./images/background.jpg);
opacity: 1;
background-repeat: no-repeat;
width: 100%;
background-color: rgba(0,0,0,0.6);
}

.heading{
    text-align: center;
    color: rgb(0, 0, 0);

}

